.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contentMain {
    padding: 3rem;
    border: .1rem solid #eaeaea;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.preloader {
    height: 100px
}

.answerServer {
    height: 20px;
    color: red
}

img {
    height: 150%;
}